<h1>New post </h1>

<%= debug @gossip %>

<%= form_with model: @post do |form| %>

    <div class="form-group">
    <label>Title :</label>
    <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
    <label>Content :</label>
    <%= form.text_area :content, class: "form-control" %>
    </div>

    <div class="form-group" style="padding-top: 1rem;">
    <button type="submit" class="btn btn-primary">New post</button>
    </div>
       
<% end %>



<%if @gossip != nil%>
   <% if @gossip.errors.any? %>
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
<%end%>


