
    <h1><%= @post.title %></h1>
    <p><%= @post.content %></p>
    <p><%= @post.author %>
    <p><%= @post.city %>

    <p>
        <a href="<%= posts_path %>" class="btn btn-primary">Back</a>
        <button type="button" class="btn btn-success">Say my name</button>
    </p>